<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <link rel="stylesheet" href="../static/register.css">
    <style>
        
    </style>
</head>

<body>
    <h1>注册页面</h1>
    <div class="register-container">
        <div class="left-container">
            <div class="title"><span>注册</span></div>
            <div class="input-container">
                <form action="./registInfo" method="post">
                    <input type="text" name="username" placeholder="用户名/账号">
                    <input style="display: inline-block;" type="password" name="password" placeholder="密码"
                        id="password">
                    <div class="conceal" id='conceal1'></div>
                    <input style="display: inline-block;" type="password" name="determine-password" placeholder="确定密码"
                        id="determine-password">
                    <div class="conceal" id='conceal2'></div>
                </form>
                <span style="color:crimson;">{{ errmsg }}</span>
                <span style="color:rgb(20, 220, 23);">{{ sucmsg }}</span>
            </div>
        </div>
        <div class="right-container">
            <div class="regist-container">
                <a href="{{ url_for('login') }}" class="log-in"><span>已有账号？</span>登陆</a>
            </div>
            <div class="action-container">
                <button id="submit-btn">提交</button>
            </div>
        </div>
    </div>
    <script>
        var password = document.getElementById('password');
        var btn = document.getElementById('conceal1');
        btn.addEventListener('click', function () {
            if (password.type === 'password') {
                password.setAttribute('type', 'text');
                btn.classList.add('hide');
            } else {
                password.setAttribute('type', 'password');
                btn.classList.remove('hide');
            }
        })
        var password2 = document.getElementById('determine-password');
        var btn2 = document.getElementById('conceal2');
        btn2.addEventListener('click', function () {
            if (password2.type === 'password') {
                password2.setAttribute('type', 'text');
                btn2.classList.add('hide');
            } else {
                password2.setAttribute('type', 'password');
                btn2.classList.remove('hide');
            }
        })

        var button = document.getElementById('submit-btn');
        button.addEventListener('click', function () {
            // 提交表单
            form = document.querySelector('form');
            console.log(form);
            form.submit();
        })
    </script>
</body>

</html>